{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookShelf</title>
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
</head>
<body>
    {% include 'books/navbar.html' %}
    <h1>📚 BookShelf</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <strong><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></strong> by {{ book.author }}
                    <p>{{ book.get_genre_display }}</p>
                    <a href="{% url 'edit_book' book.pk %}">Edit</a> |
                    <a href="{% url 'delete_book' book.pk %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books added yet.</p>
    {% endif %}
</body>
</html>
